@font-face {
  font-family: 'CircularStd-Book';
  src: url('../fonts/CircularStd-Book.woff') format('woff');
}

body {
  margin: 0;
  font-family: 'CircularStd-Book';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'CircularStd-Book';
}
